/****************************************************
*                                                   *
*                     Reset                         *
*                                                   *
*  https://andy-bell.co.uk/a-more-modern-css-reset  *
*                                                   *
****************************************************/


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Rubik";
  font-weight: 400;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/************************
*                       *
*       Variables       *
*                       *
************************/


$clr-primary:  hsl(264, 100%, 61%);
$clr-secondary: hsl(293, 100%, 63%);
$clr-app-background: hsl(270, 20%, 96%);

// font color:
$clr-font-left-chat: hsl(276, 55%, 52%);
$clr-font-right-chat: hsl(271, 15%, 43%);


/************************
*                       *
*   Utility functions   *
*                       *
************************/

.title {
    font-weight: 500;
    color: hsl(271, 36%, 24%);
    font-size: 2.6rem;
}


/************************
*                       *
*      Components       *
*                       *
************************/


.phone {
    width: 16rem;
    height: 36rem;
    background-color: $clr-app-background;
    border-radius: 2.5rem;
    border: .7rem white solid;
    box-shadow: 1.5rem 1.5rem 500px -60px black;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        background-color: white;
        border-radius: 1rem;
        height: 2.8rem;
        width: 8rem;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 0;
    }

    .app-header {
        padding: .6rem .8rem;
        padding-top: 2rem;
        min-height: 4rem;
        background-color: $clr-primary;
        display: flex;
        gap: .6rem;
        align-items: center;
        border-radius: .5rem;

        .fa-chevron-left {
            color: white;
        }

        .avatar-wrapper {
            max-width: 13%;
            border-radius: 50%;
            overflow: hidden;
            border: 1px white solid;
        }

        .user-info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .username {
                color: white;
                font-size: .8rem;
                font-weight: 500;
            }
            .status {
                color: hsl(276, 100%, 81%);
                font-size: .65rem;
            }
        }
        
        .fa-ellipsis-vertical {
            color: hsl(256 256% 256% / .8);
            font-size: .8rem;
            justify-self: flex-end;
        }
    }

    .app-main {
        padding: .6rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        height: 100%;
    }
    .message {
        max-width: 70%;
        padding: .5rem;
        line-height: .8rem;
        border-radius: .8rem;
        font-size: .55rem;
        display: inline-block;
    }

    .message--left {
        background-color: hsl(293 100% 63% / .05);
        color: $clr-font-left-chat;
        border-bottom-left-radius: .4rem;
        align-self: flex-start;
    }

    .message--right {
        background-color: white;
        color: $clr-font-right-chat;
        border-bottom-right-radius: .4rem;
        align-self: flex-end;
    }

    .message--images {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        gap: .725rem;
        background-color: transparent;
        img {
            max-width: 28%;
            border-radius: 20%;
        }
    }

    .message--offer {
        display: flex;
        background-color: $clr-primary;
        align-items: center;
        gap: .6rem;
        color: white;
        width: 100%;
        max-width: 80%;
        padding: 1rem .6rem;
        .circle {
            border: 1px hsl(289, 100%, 72%) solid;
            height: 1rem;
            aspect-ratio: 1;
            border-radius: 50%;
            align-self: center;
            transform: translateY(-.05rem);
        }

        .offer {
            flex-grow: 1;
        }

        .price {
            font-weight: 700;
            font-size: 1rem;
        }
    }

    .input-message {
        margin-top: .6rem;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 1.5rem;
        padding: .4rem;
        overflow: hidden;
        input {
            width: 100%;
            border: none;
            background-color: transparent;
            font-size: .7rem;
            line-height: 0;
            margin-left: 1rem;
            &::placeholder {
                color: rgb(123 119 119 / .4);
            }

            
        }

        .fa-circle-chevron-right {
            font-size: 1.6rem;
            color: hsl(271, 36%, 24%);
        }
    }
}

p {
    color: hsl(270, 7%, 64%);
    line-height: 1.8rem;
}

.background {
    z-index: -1;
    .background--blue {
        position: fixed;
        top: 0;
        left: -10vw;
        height: 50vh;
        width: 45vw;
        background-color: $clr-primary;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: $clr-primary;
        }
    }

    .background--light-blue {
        position: fixed;
        bottom: 0;
        right: -10vw;
        height: 60vh;
        width: 30vw;
        background-color: #f7f5fa;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #f7f5fa;
        }
    }
}

/************************
*                       *
*        Layout         *
*                       *
************************/


body {
    background-color: white;
    display: grid;
    grid-template-rows: 1rem minmax(37rem, 40rem) 1fr;
    gap: 2rem;
    place-items: center;

    .phone {
        grid-row: 2;
    }

    section {
        grid-row: 3;
        text-align: center;
        margin-bottom: 3rem;
        h1 {
            margin-bottom: 1rem;
        }
        p {
            padding: 0 2.7rem;
        }
    }
}

@media screen and (min-width: 777px) {
    body {
        
        grid-template-rows: 1fr;
        grid-template-columns: minmax(6rem, 1fr) minmax(20rem, 25rem) minmax(20rem, 25rem) minmax(5rem, 1fr);
        .phone {
            grid-column: 2;
            grid-row: 1;
            justify-self: end;
            margin-right: 6rem;
            width: 17rem;
        }

        section {
            grid-column: 3;
            grid-row: 1;
            justify-self: start;
            text-align: start;
            max-width: 30rem;
            p {
                padding: 0;
            }
        }
    }
}